* {
  font-family: 'roboto mono', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color:rgb(79, 167, 86);
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  color: #ffffff
  margin: 0px;
  letter-spacing: 0.3em;
  background-color: rgb(240, 240, 240);
  
}

h1 span {
  letter-spacing: 0em;
  color: rgb(146, 0, 0);
}

h2, h3 {
  margin: 30px 0px 0px 40px;
  color: rgb(0, 0, 0);
  word-spacing: 0.2em;
}

table, th, td {
  border: rgb(61, 61, 249) single 1.5px;
  margin: 10px 0px 0px 40px;
  color: rgb(183, 183, 194);
  text-align: left;
   
}

th, td {
  background-color: rgb(191, 74, 198);
  padding: 1px 4px;
}

td {
  background-color: rgb(171, 235, 237);
  font-size: smaller;
}
